html {
    box-sizing: border-box;
    font-size: 62.5%;
    /*1 REM= 10PX */
        font-family: 'Roboto', sans-serif;
}

body header nav ul li a{
    font-size: 1.3rem;
    text-decoration: none;
    

}

footer {
    background-color: rgb(157, 72, 237);
    width: 100%;
    padding: 2.5rem;
    text-align: center;
    
}

.heading {
    font-size: 2rem;
    font-weight: 700;
    margin: 2rem 2rem;
}

p {
    font-size: 1.9rem;
    font-weight: 400;
    margin: 1.5rem;
    flex-wrap: wrap;
}

.hero {
    width: 100%;
    height: 20rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


/* * Navbar class changes */

.navbar {
    background-color: rgb(157, 72, 237);
    overflow: hidden;
}

.navbar ul {
    display: flex;
    flex-direction: row;
    float: right
}

.navbar a {
    font-size: 2rem;
    margin: 1.4rem 1.6rem;
    text-align: center;
    color: white;
    display: block;
    font-weight: 700;
    
}

.navbar a:hover {
    background-color: white;
    color: blueviolet;
}

.links-size {
    font-size: 2rem;
    margin: 1rem 1rem;
}


/* * end of Navbar class changes  */

/* * Start of Boxes */
.row  {
    margin: .8rem -1.6rem;
    background-color: rgb(157, 72, 237);
    color: white;
}
.row, .row > .column {
    padding: 1.5rem;
    margin: 1.5rem 1.5rem;
}

.column {
    float: left;
    width: 25%;

}

.row::after {
    content: "";
    display: table;
    clear: both;
}

.content {
padding: 1rem;
margin: 2rem 1.5rem;

}
.img-table {
    opacity: 1;
    display: inline;
}
    

.img-table {
    width: 50%;
}

.img-table:hover {
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}

.blog {
    width: 50%;
    height: auto;
    margin: 5rem 5rem;
}

/* * End of Boxes */

@media screen and (max-width: 90rem) {
    .column {
        width: 50%;
    }
    
}

@media screen and (max-width: 60rem) {
    .column {
        width: 100%;
    }

}

@media screen and (max-width: 90rem){
    p {
        font-size: 2.0rem;
    }
    
}

@media screen and (max-width: 60rem) {
    p {
        font-size: 2.5rem;
    }

}

#wolf {
    width: auto;
    height: auto;
    margin: 3rem 3rem;
}